<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Allow debug-only cleartext to emulator host and provide INTERNET permission -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:networkSecurityConfig="@xml/network_security_config_debug" />
</manifest>
